
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Details</h2>

<ul class="nav nav-tabs">
    <li id="li_viewall" class="active"><a data-toggle="tab" href="#viewAll">View All Contact</a></li>
   <li id="li_addNew"><a data-toggle="tab" href="#addNew">Add New Contact</a></li>
</ul>

<div class="tab-content">
    <div id="viewAll" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
      <div id="addNew" class="tab-pane fade in">@Html.Action("AddOrEdit")</div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
